header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 414px;
    height: 80px;
    background-color: lightgray;
}

img {
    height: 50px;
    width: 50px;
    border-radius: 15px;
}

h1 {
    font-family: 'Lato-Black', sans-serif;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: -1px;
    margin: 0px;
}

svg {
    font-size: 25px;
}