header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 384px;
    height: 70px;
    background-color: rgb(52, 3, 63);
    border-bottom: 1px;
    border-color: black;
    padding: 0px 15px;
    color: white;
}

img {
    height: 45px;
    width: 45px;
    border-radius: 15px;
}

h1 {
    font-family: 'Lato-Black', sans-serif;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: -1px;
    margin: 0px;
}

header svg {
    font-size: 25px;
}