.threads {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    margin: 0;
    width: auto;
}

.align {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 0;
}

.align svg {
    font-size: 16px;
    margin: 13px 10px;
    color: rgb(112, 111, 111);
}

.align p {
    margin: 10px 0px;
}




