.threads {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    margin: 0;
    width: auto;
}

.align {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 0;
}
svg {
    font-size: 16px;
    margin: 10px 10px;
    color: rgb(112, 111, 111);
}

input {
    margin: 10px;
    height: 25px;
    text-indent: 10px;
    border-radius: 7px;
    border: lightgrey 1px solid;
    box-shadow: 0px 1px 3.5px lightgrey;
}


